name: Deploy the backend

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build backend image
        run: |
          docker build -f docker/Dockerfile.backend -t ${{ secrets.DOCKER_USERNAME }}/backend:latest .

      - name: Push backend image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/backend:latest
