name: Deploy backend

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - run: docker build -f docker/Dockerfile.backend -t ${{ secrets.DOCKER_USERNAME }}/backend:latest .

      - run: docker push ${{ secrets.DOCKER_USERNAME }}/backend:latest
